@import 'tailwindcss';

html,
body {
  height: 100%;
  width: 100%;
}

@keyframes scan {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

button {
  -webkit-app-region: no-drag;
}

.scrollbar-small {
  scrollbar-color: #9b9b9b transparent;
  scrollbar-width: auto;
}
